<a href="https://colab.research.google.com/github/sahithi0624/winter-internship/blob/main/week5/task2/Murder_Mystry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import sqlite3 as sql

In [9]:
conn = sql.connect('/content/sql-murder-mystery.db')

In [10]:
print(conn)

<sqlite3.Connection object at 0x7c516c379240>

In [11]:
query_1 = """
    SELECT *
    FROM crime_scene_report
    WHERE type = 'murder'
    AND city = 'SQL City'
    AND date = 20180115
"""

In [12]:
crime_rep_df = pd.read_sql_query(query_1, conn)
print(crime_rep_df)

       date    type                                        description  \
0  20180115  murder  Security footage shows that there were 2 witne...

       city
0  SQL City

In [13]:
query_2 = '''
SELECT *
FROM Person
WHERE address_street_name ='Northwestern Dr'
ORDER BY address_number desc
LIMIT 1
'''

In [14]:
pd.read_sql_query(query_2, conn)[:1]

,id,name,license_id,address_number,address_street_name,ssn
0,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949

In [15]:
result_df = pd.read_sql_query(query_2, conn)
print(result_df)

      id            name  license_id  address_number address_street_name  \
0  14887  Morty Schapiro      118009            4919     Northwestern Dr

         ssn
0  111564949

In [16]:
query_3 = '''
SELECT *
FROM interview
WHERE person_id IN (14887, 16371)
'''

In [17]:
interview_df = pd.read_sql_query(query_3, conn)
print(interview_df)

   person_id                                         transcript
0      14887  I heard a gunshot and then saw a man run out. ...
1      16371  I saw the murder happen, and I recognized the ...

In [18]:
query_4 = '''
  SELECT p.*, gfn.membership_start_date, gfn.membership_status
    FROM person AS p
    INNER JOIN drivers_license AS dl ON dl.id = p.license_id
    INNER JOIN get_fit_now_member AS gfn ON p.id = gfn.person_id
    INNER JOIN get_fit_now_check_in AS gfc ON gfc.membership_id = gfn.id
    WHERE plate_number LIKE '%H42W%'
    AND gender = 'male'
    AND membership_status = 'gold'
    AND gfn.id LIKE '48Z%'
    AND check_in_date = 20180109
'''

In [19]:
result_df = pd.read_sql_query(query_4, conn)
print(result_df)

      id           name  license_id  address_number    address_street_name  \
0  67318  Jeremy Bowers      423327             530  Washington Pl, Apt 3A

         ssn  membership_start_date membership_status
0  871539279               20160101              gold

In [20]:
query_5 = '''
    SELECT *
    FROM drivers_license
    WHERE plate_number = '0H42W2'
'''

In [21]:
result_df = pd.read_sql_query(query_5, conn)
print(result_df)

       id  age  height eye_color hair_color gender plate_number   car_make  \
0  423327   30      70     brown      brown   male       0H42W2  Chevrolet

  car_model
0  Spark LS

In [22]:
query_6 ='''
    SELECT *
    FROM person
    WHERE license_id = '423327'
'''

In [23]:
result_df = pd.read_sql_query(query_6, conn)
print(result_df)

      id           name  license_id  address_number    address_street_name  \
0  67318  Jeremy Bowers      423327             530  Washington Pl, Apt 3A

         ssn
0  871539279

In [24]:
query_7 = '''
    SELECT p.name, p.id AS person_id, gfn.membership_status
    FROM person AS p
    INNER JOIN get_fit_now_member AS gfn ON p.id = gfn.person_id
    WHERE p.license_id = '423327'
'''

In [25]:
result_df_7 = pd.read_sql_query(query_7, conn)
print(result_df_7)

            name  person_id membership_status
0  Jeremy Bowers      67318              gold

In [26]:
query='''
SELECT *
FROM interview
WHERE person_id = 67318
'''

In [27]:
result_df_7 = pd.read_sql_query(query, conn)
print(result_df_7)

   person_id                                         transcript
0      67318  I was hired by a woman with a lot of money. I ...

Finally, based on the available evidence, there is no conclusive indication that Jeremy Bowers is the murderer and there is aloso no indication that Miranda Priestly is the murderer. To conclude the case further investigation is required.